/* deafult 0 */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s;
}

body {
  overflow-x: hidden;
}
/*----------------------- utilities -----------------------*/
.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* buttons */
.btn {
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
}

.btn-main {
  background-color: #fff;
  border: 1px solid #8043d6;
  color: #8043d6;
}
.btn-main:hover {
  background-color: #722ed1;
  color: #fff;
}
.btn-purple {
  background-color: #722ed1;
  color: #fff;
}
.btn-purple:hover {
  background-color: #fff;
  color: #722ed1;
  border: 1px solid #8043d6;
}
.btn-white {
  background-color: #fff;
  color: #722ed1;
}
.btn-white:hover {
  border: 1px solid #8043d6;
}
.btn-input {
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}
.item-center {
  margin-inline: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.grid {
  display: grid;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-word {
  font-size: 20px;
  font-weight: bold;
}
.p-text {
  color: #919396;
  line-height: 25px;
}
.p-bold {
  font-weight: bold;
}
/* -----------------header section--------------------- */
nav {
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.logo {
  cursor: pointer;
}
.nav-right {
  gap: 50px;
  align-items: center;
}

ul {
  gap: 50px;
}

ul .nav-links {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
ul .nav-links:hover {
  color: #8043d6;
}

header {
  background: linear-gradient(175deg, #f4f8ff 5%, #e4f2ff 80%, #fff 30%);
  height: 100vh;
}

.header-left {
  width: 44%;
  flex-direction: column;
  gap: 20px;
}

.header-content {
  margin: 80px 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header-left-version {
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #e8d9fa;
  gap: 10px;
  width: 51%;
  color: #8043d6;
  font-weight: bold;
}
.header-left-version a {
  color: #8043d6;
  text-decoration: underline;
}
.header-left-heading h1 {
  font-size: 50px;
}

.header-left-p {
  line-height: 25px;
  font-size: 17px;
}

.header-left-btn {
  gap: 20px;
}

/* -----------why qubly section---------------- */
.why-qubly-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* width: 70%; */
  text-align: center;
  padding: 10px 100px;
}

.why-qubly-container h2 {
  font-size: 32px;
}
.why-qubly-p {
  padding: 0 190px;
}
.batch {
  padding: 10px 12px;
  border-radius: 30px;
  background-color: #e8d9fa;
  gap: 10px;
  /* width: 41%; */
  color: #8043d6;
  font-weight: bold;
  align-items: center;
}

.qubly-features {
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 20px;
  /* gap: 40px; */
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.features div p {
  padding: 0 60px;
  font-size: 16px;
  line-height: 25px;
}

/* ---------------------------- team section------------------- */
.product-team-section {
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 120px 0;
}

.product-team-right,
.engineering-team-left {
  flex-direction: column;
  gap: 20px;
}

.product-team-right div h2,
.engineering-team-left div h2 {
  font-size: 30px;
}
.product-batch {
  width: 50%;
}
.engineer-batch {
  width: 57%;
}

.engineering-team-section {
  justify-content: center;
  align-items: center;
  /* margin: 0 0 120px 0; */
}
.engineering-team-right {
  width: 40%;
}

/* --------------- cto section------------------------- */
.cto-section {
  background: linear-gradient(#ffffff 20%, #e5d6f0 20%, #e5d6f0, #e4f2ff);
  padding: 9% 0;
  transform: rotate(-6deg);
  min-width: 100%;
  margin: 0 -10% 140px -10%;
}
.inner-container {
  margin-top: 100px;
  transform: rotate(6deg);
}
.cto-message {
  font-size: 25px;
  margin: 25px 140px;
  font-weight: 600;
}

.cto-info {
  margin: 25px 0;
  font-weight: bold;
  line-height: 25px;
}

.divider {
  background-color: #c89cf3;
  width: 90%;
  height: 2px;
  margin: 30px 0;
  margin-inline: auto;
}

.logo-section {
  justify-content: space-evenly;
}

/* -------------------signup section---------------------------- */
.sign-up-section {
  margin: 200px 0 100px 0;
}
.signup-container {
  justify-content: space-evenly;
  /* align-items: flex-start; */
  gap: 70px;
}

.sign-form {
  flex-direction: column;
}

.signup-left-heading {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 50px 0;
}

.sign-up-trusted {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sign-up-trusted div {
  height: 1.5px;
  background-color: #bdc0c5;
  width: 150px;
}

.sign-up-logo {
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin: 50px 0;
}

.signup-right {
  background-color: #f9f0ff;
  padding: 0 40px;
  position: relative;
  border-radius: 5px;
  width: 46%;
}

.sign-form {
  background-color: #fff;
  padding: 30px 50px;
  gap: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 50px;
}

.sign-form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #bdc0c5;
}

.google-btn {
  width: 60%;
  align-self: center;
}
.google-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sign-line {
  height: 1.5px;
  width: 100%;
  background-color: #bdc0c5;
  align-self: center;
}
/* ---------------footer section-------------- */
footer {
  justify-content: space-evenly;
}

.footer-list {
  gap: 50px;
}

.footer-newsletter div {
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #fff;
}
.footer-newsletter div input {
  border: none;
}

.footer-social-logo {
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 25px;
}

.list h4 {
  margin-bottom: 20px;
}

.list ul li {
  margin: 10px 0;
  font-size: 14px;
}
.list ul li a {
  color: #000;
}
.list ul li a:hover {
  color: #8043d6;
}

.footer-social-icon img {
  margin-right: 10px;
}
.footer-social-icon img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-container {
  padding: 80px 0;
  background: linear-gradient(#f4f8ff 5%, #e4f2ff 80%);
}
