@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* deafult 0 */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  /* box-sizing: border-box; */
}
body {
  overflow-x: hidden;
  background-color: #f6f8fa;
}

/*--------------------- utility classes -----------------*/
.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* buttons */
.btn-main {
  background-color: #6663e9;
  font-weight: bold;
}
.btn-main:hover {
  background-color: #7775e7;
}
.btn {
  padding: 20px 40px;
  color: #fff;
  border-radius: 30px;
}
.btn-small {
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}
.item-center {
  margin-inline: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.grid {
  display: grid;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------- header section ---------------------------*/
header {
  background-image: url(./assets/Photos/mainBackground.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-color: #363636c0;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 30px 50px;
  border-bottom: 3px solid #566167;
}
.main-logo {
  cursor: pointer;
}

/* -----nav links --------*/
.list {
  align-items: center;
  display: flex;
  gap: 80px;
  list-style-type: none;
  font-size: 18px;
}
.list-item:hover {
  color: #cfcdce;
  cursor: pointer;
}

/* main section */
.main {
  padding: 100px 50px;
}
.main-left {
  width: 50%;
}
.main-left h1 {
  font-size: 55px;
  color: #fff;
}
.main-left p {
  font-size: 16px;
  color: #cfcdce;
  margin: 30px 160px 70px 0;
}

/* floating-container */
.floating-container {
  background-color: #fff;
  padding: 80px;
  justify-content: space-around;
  border-radius: 30px;
  position: relative;
  bottom: 100px;
}

.floating-container img {
  transition: all 0.3s;
}
.floating-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* -------------------------cards section ----------------*/
.cards-section-heading {
  font-size: 40px;
  color: #27292e;
  margin-inline: 305px;
}

.items {
  width: 31%;
  height: 445px;
  border-radius: 30px;
  position: relative;
  flex-grow: 1;
  margin: 50px 0;
  transition: all 0.3s;
}
.items:hover {
  scale: 1.1;
  cursor: pointer;
}
.item1 {
  background-image: url(./assets/Photos/cardImage1.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: start;
}
.item2 {
  background-image: url(./assets/Photos/cardImage2.png);
  background-position-y: 0px;
  background-position-x: -34px;
  background-size: cover;
  align-self: center;
}
.item3 {
  background-image: url(./assets/Photos/cardImage3.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: end;
}
.item4 {
  background-image: url(./assets/Photos/cardImage4.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: end;
}
.item5 {
  background-image: url(./assets/Photos/cardImage5.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: center;
}
.item6 {
  background-image: url(./assets/Photos/cardImage6.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: start;
}
.item7 {
  background-image: url(./assets/Photos/cardImage7.png);
  background-position-y: 0px;
  background-position-x: -193px;
  background-size: cover;
  align-self: start;
}
.item8 {
  background-image: url(./assets/Photos/cardImage8.png);
  background-position-y: 0px;
  background-position-x: -22px;
  background-size: cover;
  align-self: center;
}
.item9 {
  background-image: url(./assets/Photos/cardImage9.png);
  background-position-y: 0px;
  background-position-x: -286px;
  background-size: cover;
  align-self: end;
}

.cards-main {
  gap: 30px;
  height: 260vh;
  margin: 55px 0 100px 0;
  flex-wrap: wrap;
}

.card-deatils {
  background-color: #fff;
  margin-inline: 20px;
  border-radius: 15px;
  padding: 26px 35px;
  align-items: center;
  position: absolute;
  top: 376px;
  gap: 45px;
}

.card-deatils-left p {
  font-size: 21px;
  font-weight: bold;
  /* margin: 5px 0; */
  padding: 10px;
}

.purple-word {
  font-size: 18px;
  color: #6663e9;
  font-weight: 600;
  padding: 10px;
}

/*---------------------------- features section-------------------- */
.features {
  gap: 150px;
  margin-bottom: 200px;
}
.features-img {
  width: 50%;
  height: 500px;
  border-radius: 30px;
  position: relative;
  flex-grow: 1;
  margin: 50px 0;
  transition: all 0.3s;
  position: relative;
}
.feature-img1 {
  background-image: url(./assets/Photos/featuresImage1.png);
  background-position: center;
  background-size: cover;
}
.feature-img2 {
  background-image: url(./assets/Photos/featuresImage2.png);
  background-position: center;
  background-size: cover;
}

.feature-img1 img {
  position: absolute;
  left: -143px;
  bottom: -138px;
  width: 139%;
  z-index: -1;
}
.feature-img2 img {
  position: absolute;
  right: -143px;
  bottom: -138px;
  width: 139%;
  z-index: -1;
}
.features-right {
  flex-direction: column;
  gap: 50px;
  /* align-items: center; */
  justify-content: center;
  width: 50%;
}
.features-right h1 {
  font-size: 50px;
}
